<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.dsp.module.data.mapper.DictMapper">
    <resultMap id="DictResultMap" type="com.geo.dsp.module.data.entity.Dict">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="dict_name" property="dictName"/>
        <result column="dict_code" property="dictCode"/>
        <result column="dict_key" property="dictKey"/>
        <result column="dict_str_val" property="dictStrVal"/>
        <result column="dict_num_val" property="dictNumVal"/>
        <result column="dict_desc" property="dictDesc"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <!-- 通用新增 -->
    <insert id="insert" parameterType="Dict">
        INSERT INTO dict (
            dict_name, dict_code, dict_key, dict_str_val, dict_num_val, dict_desc,
            create_by, create_time, update_by, update_time, is_del
        ) VALUES (
                     #{dictName}, #{dictCode}, #{dictKey}, #{dictStrVal}, #{dictNumVal}, #{dictDesc},
                     #{createBy}, now(), #{updateBy}, now(), false
                 )
    </insert>

    <!-- 查询字典类型：dict_name 不为空就是类型 -->
    <select id="listDictType" resultMap="DictResultMap">
        SELECT * FROM dict
        WHERE is_del = false
          AND dict_name IS NOT NULL
          AND dict_name != ''
        ORDER BY create_time DESC
    </select>

    <!-- 根据字典编码查询字典数据 -->
    <select id="listDictDataByCode" resultMap="DictResultMap">
        SELECT * FROM dict
        WHERE is_del = false
          AND dict_code = #{dictCode}
          AND dict_key IS NOT NULL
        ORDER BY dict_key ASC
    </select>

    <!-- 删除 -->
    <update id="deleteByUuid">
        UPDATE dict SET is_del = true, update_time = now()
        WHERE uuid = CAST(#{uuid} AS uuid)
    </update>

    <!-- ====================== 修改字典类型/数据（共用） ====================== -->
    <update id="updateByUuid" parameterType="com.geo.dsp.module.data.entity.Dict">
        UPDATE dict
        SET dict_name    = #{dictName},
            dict_code    = #{dictCode},
            dict_key     = #{dictKey},
            dict_str_val = #{dictStrVal},
            dict_num_val = #{dictNumVal},
            dict_desc    = #{dictDesc},
            update_by    = #{updateBy},
            update_time  = now()
        WHERE uuid = CAST(#{uuid} AS uuid)
          AND is_del = false
    </update>
</mapper>